* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
  background-color: rgb(6, 38, 68);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.todo-list {
  background-color: rgb(34, 83, 116);
  border-radius: 10px;
  max-width: 600px;
  padding: 50px;
  margin: 20px 0;
}

.todo-list h1 {
  background-color: rgb(18, 38, 92);
  border-radius: 10px;
  font-size: 3rem;
  margin-bottom: 1rem;
  padding: 10px;
  text-align: center;
}

.todo-list p {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  margin-left: 2rem;
  text-align: left;
}

.todo-item {
  display: flex;
  align-items: center;
  font-size: 25px;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.todo-text {
  flex-grow: 1;
  margin-left: 10px;
}

.completed {
  text-decoration: line-through;
}

.input {
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: bold;
  padding: 5px;
  width: 250px;
}
.checkbox {
  appearance: none;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  border: 2px solid white;
  margin-right: 10px;
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.checkbox:checked:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: white;
}

.button {
  background-color: rgb(22, 63, 117);
  border-radius: 10px;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  margin-left: 50px;
  padding: 5px;
  transition: all 0.2s ease-in-out; 
}

.button:hover {
  background-color: rgb(11, 32, 58); 
  cursor: pointer; 
}


@media only screen and (max-width: 600px) {
  body {
    font-size: 1.6rem;
  }

  .todo-list {
    margin: 2rem auto 1rem;
    padding: 1rem;
  }

  .todo-list h1 {
    font-size: 2rem;
    margin: 0 0 1rem 1.5rem;
    text-align: left;
  }

  .input {
    max-width: none;
    margin-right: 5px;
  }

  .button {
    margin-left: 0;
  }
}
